<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link href="/style1.css" rel="stylesheet">
</head>
<body>
<div>
    <center>
        <form action="loginpage" method="post">
            <h3>SIGN IN</h3>
            <label>Enter Your Email / MobileNum</label><br>
            <input class="inp" placeholder="Enter Your Email/MobileNumber" name="mailormob"><br>
        
            <label>Enter Your Password</label><br>
            <input class="inp" type="password" placeholder="Enter Your Password" name="pass"><br>
        
            <input class="inp1" type="submit" value="LogIn">
        </form>
        <a href="registration">Create New Account</a><a href="forgotpassword">Forgot Password</a>
    </center>
</div>
<center><span th:text="${msg}"></span></center>
</body>
</html>